.App {
  width: 100vw;
  min-height: 100vh;
  display: grid;
 grid-template-columns: 1fr 1fr;
  /* gap: 50px; */
}
.dashboard-container,
.function-container,
.entry-container,
.entrylist-container{
  margin: 5%;
  /* margin:5vh 20vw; */
  /* height:20vh; */
  border: 2px solid red;
  padding: 10px;
}
.entry-container > form{
  display: flex;
flex-direction: column;
align-items: center;

  gap: 20px;
}
.entry-container > form > input{
  width: 70%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid blue;
}
table{width: 100%;}
table, td{
  border: 1px solid blue;
  text-align: center;
  
}
